/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
      --accent-color: #FF8DCB;
    --page-bg-color: #FFF1F7;
    --background-image: url("../images/cover-image-light.png");
    --header-headline: #FFC2E6;
    --header-title-color: #353430;
    --header-theme-menu-color: #353430;
    --question: #353430;
    --text: #353430;
    --recommendation: #353430;
    --decorative-element: transparent;
    --decorated-zone: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --page-bg-color: #FFF1F7;
    --background-image: url("../images/cover-image-light.png");
    --header-headline: #FFC2E6;
    --header-title-color: #353430;
    --header-theme-menu-color: #353430;
    --question: #353430;
    --text: #353430;
    --recommendation: #353430;
    --decorative-element: transparent;
        --decorated-zone-color: #353430;
  }
}