/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-color: #FFF1F7;
    --background-image: url("../images/cover-image-light.png");
    --header-headline: #FFC2E6;
    --header-headline-shadow: #FF8DCB;
    --header-title-color: #353430;
    --header-title-bg-color: #FF8DCB;
    --header-theme-menu-color: #353430;
  }
}