/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--page-bg-color);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-size: cover;
}

.header {
  block-size: min(668px, 100vh);
  /*min-block-size: 668px;
  max-block-size: 100vh;*/
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  margin-block-end: 40px;
  padding: 10px;
}

.decorative-element {

  position: absolute;
  top: 16px;
  right: 39px;

  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;

  color: var(--decorative-element);
}

.decorative-element::after {
  content: "";
  height: 9px;
  width: 9px;
  border-radius: 4.5px;
  background-color: var(--decorative-element);
  box-shadow: 0px 0px 4px 2px var(--decorative-element);


  position: absolute;
  left: 42px;
  top: 6px;
}

.header__theme-menu {

  justify-self: end;
  align-self: center;
  grid-row: 1;

  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  color: var(--header-theme-menu-color);

}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 7px 15px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--header-theme-menu-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--header-theme-menu-color);
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
}

.headline {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--header-headline);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__headline {
  grid-row: 2;
}

.header__title {
  display: block;
  align-self: center;

}

.title {
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;

  color: var(--header-title-color);
  background-color: var(--accent-color);
}

.footer .decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  align-self: start;
  justify-self: end;
  border-inline-end: 1px solid var(--decorated-zone-color);
  border-block-start: 1px solid var(--decorated-zone-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  align-self: end;
  justify-self: start;
  border-inline-start: 1px solid var(--decorated-zone-color);
  border-block-end: 1px solid var(--decorated-zone-color);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.footer .decorated-zone::after {
  inset-block-end: calc(10px - 100vh);
}

.main {
  margin-block-end: 40px;
  margin-inline: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.question {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;

  color: var(--question);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;

  color: var(--text);
}

.recommendation {
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;

  color: var(--recommendation);
  background-color: var(--accent-color);
}

.link {
  text-shadow: 2.5px 2.5px 0 var(--accent-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline solid var(--text) 1.5px;
}

.link:focus-visible {
  padding: 12px 4px 6px;
  border: 1px solid var(--text);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-block-start: 10px;
}

.image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
}

.footer__headline {
  align-self: center;
  justify-self: center;
  padding-top: calc((100vh - 116px) / 2);
  padding-bottom: calc((100vh - 116px) / 2);
    text-shadow: 2px 2px 0 var(--accent-color);
}


/*ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ */
@media (width >= 768px) {
  .header {
    block-size: min(1024px, 100vh);
    margin-block-end: 60px;
      padding: 20px;
  }

  .headline {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    justify-self: end;
    max-inline-size: 364px;
  }

  .decorative-element {
    top: 25px;
    right: 48px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .main {
    margin-block-end: 60px;
    margin-inline: 20px;
  }

  .section-why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .card-why {
    grid-column: 2;
  }

  .section-what {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .question-how {
    grid-row: span 2;
  }

  .title-how {
    grid-column: 2;
  }

  .card-how {
    grid-column: 2;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 20px;
  }

  .image:nth-child(1), .image:nth-child(5) {
    grid-column: span 2;
  }

  .image:nth-child(2), .image:nth-child(3) {
    grid-row: span 2;
  }

  .footer {
    min-block-size: 1024px;
  } 
  .footer .decorated-zone::after {
  inset-block-end: calc(20px - 100vh);
}
}


/*КОМП КОМП КОМП КОМП КОМП КОМП КОМП КОМП КОМП КОМП КОМП КОМП*/
@media (width >= 1024px) {
  .header {
    block-size: min(768px, 100vh);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .headline {
    font-size: 157px;
  }

  .header__title {
    align-self: end;
    max-inline-size: 491px;
  }

  .section-what {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, min-content);
    gap: 20px;
  }

  .card-what {
    grid-row: 2;
  }

  .footer {
    min-block-size: 768px;
  }
}